// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: 'arial';
  font-size: 18px;
}

h1 {
  font-size: 48px
}

.container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.letter {
  width: 50px;
  font-size: 42px;
  font-weight: 700;
  background-color: #3498db;
  color: white;
  display: inline-block;
  padding: 12px;
  text-align: center;
  margin-left: 8px;
  align-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form {
  margin-top: 18px;
  width: 100%;
}
